<h1 *ngIf="!isChange" mat-dialog-title>Add your new favorite album</h1>
<h1 *ngIf="isChange" mat-dialog-title>Edit album</h1>
<div mat-dialog-content>
  <mat-form-field>
    <mat-label>Rank</mat-label>
    <input matInput [(ngModel)]="data.position">
  </mat-form-field>
  <mat-form-field>
    <mat-label>album</mat-label>
    <input matInput [(ngModel)]="data.album">
  </mat-form-field>
  <mat-form-field>
    <mat-label>year</mat-label>
    <input matInput [(ngModel)]="data.year">
  </mat-form-field>
  <mat-form-field>
    <mat-label>band</mat-label>
    <input matInput [(ngModel)]="data.band">
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onCancel()">Cancel</button>
  <button mat-button *ngIf="!isChange" [mat-dialog-close]="data" cdkFocusInitial>Add new album</button>
  <button mat-button *ngIf="isChange" [mat-dialog-close]="data" cdkFocusInitial>Edit album</button>
</div>
